@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.container.about-me {
    height: 100vh;
    background-color: $background-color-main-body;    
    @include backgroundImage($url: $background-image-about-me, $position: bottom);
    @include flex();
    overflow: hidden;
    
    section.about-me {
        
        .inner-container {
            font-family: $font-family-about-me;
            width: 75%;
            background-color: $background-color-about-me;
            color: $color-about-me;
            box-shadow: $box-shadow-about-me;
            border-radius: 10px;
            padding: 3vh 3vw;
            margin: 0 auto 20vh auto;
            @include fade-in;

            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto;
            grid-column-gap: 3vw;
            align-items: center;
            grid-template-areas:
                "image heading"
                "image description";

            .image-container { grid-area: image }
            .heading { grid-area: heading }
            .description { grid-area: description }
        
            .image-container {
                
                .image {
                    img {
                        height: auto;
                        width: 100%;
                        border-radius: 50%;
                        box-shadow: $box-shadow-about-me-main-image;
                    }
                }
            }

            .name, .jobTitle {
                display: inline-block;
                margin: 0;
            }
            
            .description p { font-size: 100%; }
        }
    }

    // Hide pre-loaded background images
    img.background-image-preload-projects { background: $background-image-projects; display: none; }
    img.background-image-preload-skills { background: $background-image-skills; display: none; }
    img.background-image-preload-work-experience { background: $background-image-work-experience; display: none; }
    img.background-image-preload-cv { background: $background-image-cv; display: none; }
}

@media screen and (max-width: 1024px) {
    .container.about-me {
        @include backgroundImage($url: $background-image-about-me-1024);
        img.background-image-preload-projects { background: $background-image-projects-1024; display: none; }
        img.background-image-preload-skills { background: $background-image-skills-1024; display: none; }
        img.background-image-preload-work-experience { background: $background-image-work-experience-1024; display: none; }
        img.background-image-preload-cv { background: $background-image-cv-1024; display: none; }
    }
}

@media screen and (max-width: 1024px) { .container.about-me section.about-me .inner-container {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "image heading"
    "description description";
} }

@media screen and (max-height: 800px) { .container.about-me section.about-me .inner-container {
    width: 90%;
    grid-template-columns: 1fr 6fr;
    padding: 1vh 2vw;
    .heading, .description p { font-size: 80%; }
    .description p { margin: 1vh 0; }
} }

@media screen and (max-height: 550px) { .container.about-me section.about-me .inner-container {
    grid-template-columns: 1fr 10fr;
    .heading, .description p { font-size: 70%; }
} }