@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.container.about-me {
    height: 100vh;
    background-color: $background-color-main-body;    
    @include backgroundImage($url: $background-image-about-me, $position: bottom);
    @include flex();
    overflow: hidden;
    
    section.about-me {
        @include flex();
        width: 100%;
        
        .inner-container {
            font-family: $font-family-about-me;
            width: 75%;
            background-color: $background-color-about-me;
            color: $color-about-me;
            box-shadow: $box-shadow-about-me;
            @include flex();
            border-radius: 10px;
            padding: 3vh 3vw;
            margin-bottom: 20vh;
            @include fade-in;
        
            .image-container {
                flex-basis: 25%;
                
                .image {
                    img {
                        height: auto;
                        width: 100%;
                        border-radius: 50%;
                        box-shadow: $box-shadow-about-me-main-image;
                    }
                }
            }

            .name, .jobTitle {
                display: inline-block;
                margin: 0;
            }
            
            .description {
                flex-basis: 75%;
                margin-left: 3vw;
                
                p {
                    font-size: 100%;
                }
            }

        }
    }

    // Hide pre-loaded background images
    img.background-image-preload-projects { background: $background-image-projects; display: none; }
    img.background-image-preload-skills { background: $background-image-skills; display: none; }
    img.background-image-preload-work-experience { background: $background-image-work-experience; display: none; }
    img.background-image-preload-cv { background: $background-image-cv; display: none; }
}

@media screen and (max-width: 1024px) {
    .container.about-me {
        @include backgroundImage($url: $background-image-about-me-1024);
        img.background-image-preload-projects { background: $background-image-projects-1024; display: none; }
        img.background-image-preload-skills { background: $background-image-skills-1024; display: none; }
        img.background-image-preload-work-experience { background: $background-image-work-experience-1024; display: none; }
        img.background-image-preload-cv { background: $background-image-cv-1024; display: none; }
    }
}

// @media screen and (min-width: 1100px) { .container.about-me section.about-me .inner-container .description p { font-size: 140%; } }
// @media screen and (max-width: 1100px) { .container.about-me section.about-me .inner-container .description p { font-size: 120%; } }
// @media screen and (max-width: 768px) { .container.about-me section.about-me .inner-container .description p { font-size: 100%; } }
@media screen and (max-width: 450px) { .container.about-me section.about-me .inner-container { .name, .jobTitle { font-size: 90%; } .description p { font-size: 90%; } } }
@media screen and (max-height: 900px) { .container.about-me { background-position: center; section.about-me .inner-container { padding: 1vh 3vw; margin-bottom: 30vh; .description p { font-size: 90%; } } } }
@media screen and (max-height: 801px) { .container.about-me section.about-me .inner-container { margin-bottom: 20vh; .description p { font-size: 80%; } } }
@media screen and (max-height: 400px) { .container.about-me section.about-me .inner-container { margin-bottom: 10vh; .description p { font-size: 70%; } } }