@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.container.projects {
    background-color: $background-color-main-body;
    color: $color-projects;
    height: 100vh;
    @include backgroundImage($url: $background-image-projects, $position: bottom);
    overflow: hidden;

    .projects {
        
        section.wallboard {
            z-index: 4;
            // z-index: 999999;
            position: absolute;
            top: 14vh;
            left: 4vw;
            height: 30vh;
            width: 30vw;
            min-height: 300px;
            min-width: 350px;
            // @include backgroundImage($url: $background-image-projects-wallboard);
            box-shadow: $box-shadow-projects-wallboard;
            @include fade-in(0.25s);

            img {
                object-fit: fill;
                height: 100%;
                width: 100%;
            }

            .info {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                padding: 2.5vh 2vw;
                @include flex($align-items: null, $flex-direction: column);

                .project-header { flex-basis: 10%; }
                .project-body { flex: 1 }
                .project-footer { flex-basis: 25%; }

                .project-header {
                    @include flex($justify-content: null);
                    padding: 0 0.5vw;

                    .project button {
                        background-color: transparent;
                        outline: none;
                        padding: 0;
                        border-top: $size-border-arrows solid transparent;
                        border-bottom: $size-border-arrows solid transparent;
                        cursor: pointer;
                        z-index: 99999;         // Needs to be above the header
                    }

                    h2 {
                        font-size: 100%;
                        margin: 0 1vw;
                        flex: 1;
                        text-align: center;
                        max-height: 33px;
                        overflow: hidden;
                    }
                }

                .project-body {
                    @include flex($justify-content: null);

                    p {
                        font-size: 70%;
                    }
                }
    
                .project-footer {
                    @include flex($justify-content: space-between);
                    
                    .skills {
                        
                        .skill {
                            display: flex;
                            align-items: baseline;
                            
                            span {
                                font-size: 70%;
                                margin-right: 15px;
                            }

                            .tick {
                                -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
                                -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
                                transform: scaleX(-1) rotate(-35deg);
                                font-size: 100%;
                                height: 3vh;
                            }
                        }
                    }
        
                    .buttons {
                        margin-right: 0.5vw;
                        @include flex($align-items: null, $flex-direction: column);
        
                        a {
                            height: 4vh;
                            width: 9vw;
                            min-height: 30px;
                            min-width: 100px;
                            display: flex;

                            .button {
                                width: 95%;             // This gives it the scale effect
                                border: 1px solid transparent;

                                &.view-app {
                                    @include backgroundImage($url: $background-image-projects-view-app, $size: contain);
                                }

                                &.view-code {
                                    @include backgroundImage($url: $background-image-projects-view-code, $size: contain);
                                }
                            }
                        }
                        
                        .button.view-app:hover, .button.view-code:hover {
                            padding: 0 1vw;             // This gives it the scale effect
                            border: $border-projects-view-app-code-hover;
                        }

                    }
                }
            }
        }

        section.project-images {
            position: absolute;
            left: 37vw;
            bottom: 0;
            height: 65vh;
            width: 63vw;
            min-height: 350px;
            max-height: 700px;
            min-width: 600px;
            // max-width: 900px;
            @include backgroundImage($url: $background-image-projects-laptop);
            background-size: 100% 100%;
            @include fade-in(0.25s);

            .project-image-carousel {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top left;
                position: absolute;
                top: 4vh;
                left: 6vw;
                height: 66%;
                width: 73%;
                margin: 0 auto;
                border-radius: 5px;
            }

            .project-image {
                position: absolute;
                top: 25vh;

                button {
                    background-color: transparent;
                    outline: none;
                    padding: 0;
                    border-top: $size-border-arrows solid transparent;
                    border-bottom: $size-border-arrows solid transparent;
                    cursor: pointer;
                    z-index: 2;
                }

                &.previous { left: 3.2vw; }
                &.next { left: 52.7vw; }
            }
        }

        .project.previous, .project.next, .project-image.previous, .project-image.next { display: flex; align-items: flex-end; }

        .project.previous button, .project-image.previous button {
            border-left: $size-border-arrows solid transparent;
            border-right: $size-border-arrows solid $color-border-projects-carousel;
            &:hover { border-right: $size-border-arrows solid $color-border-projects-carousel-hover; }
            &.first { border-right: $size-border-arrows solid $color-border-projects-carousel-first-last; cursor: initial; }
        }

        .project.next button, .project-image.next button {
            border-left: $size-border-arrows solid $color-border-projects-carousel;
            border-right: $size-border-arrows solid transparent;
            &:hover { border-left: $size-border-arrows solid $color-border-projects-carousel-hover; }
            &.last { border-left: $size-border-arrows solid $color-border-projects-carousel-first-last; cursor: initial; }
        }

        span.download-help1, span.download-help2, span.download-help3, span.download-help4 {
            display: inline-block;
            z-index: 5;
            right: 0;
            bottom: 0;
            width: 75px;
            height: 25px;
            max-height: 25px;
            min-width: 75px;
            @include fade-out(2s);
            @include backgroundImage($url: $background-image-please-note, $size: contain);
        }

        span.download-help1, span.download-help3 { margin-left: 10px; }
      
    }
}


@media screen and (max-width: 1024px) {

    .container.projects {
        background: $background-image-projects-1024;
    }

}

@media screen and (max-width: 1023px) {
    .container.projects {
        overflow: auto;
        .projects .project {
            section.wallboard {
                position: relative;
                top: unset;
                margin: 14vh 0 3vh 0;
                .info { padding: 20px 25px; }
            }
            section.project-images {
                position: relative;
                width: 90vw;
                bottom: unset;
                left: 0;
                right: 0;
                margin: 0 auto;

                .project-image-carousel { left: 8vw; }
                .project-image {
                    &.previous { left: 4.5vw; }
                    &.next { left: 75vw; }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) { .container.projects section.wallboard .project-body { font-size: 110%; } }
@media screen and (max-width: 650px) { .container.projects {
    section.wallboard .project-body { font-size: 120%; }
    .projects .project {section.project-images { width: 100%; .project-image { &.previous { left: 25px; } &.next { left: 495px; } } } }
} }
