# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.firebase

/src/utilities
/src/assets/miscellaneous
/src/assets/images/not-used
/src/assets/images/projects

/src/assets/images/miscellaneous/profile.about-me.jpg
/src/assets/images/miscellaneous/profile.mini-me.jpg

/src/components/not-used