.container.cv {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black; }
  .container.cv img.full-screen-background-image {
    background: url("../../assets/images/miscellaneous/wall-background-white-bricks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .container.cv section.cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .container.cv section.cv .paper {
      font-size: 70%;
      padding: 1.5vh 1vw 1vh 2vw;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      background: url("../../assets/images/miscellaneous/paper-white.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 80%;
      margin-top: 18vh;
      margin-bottom: 10vh;
      z-index: 999;
      animation-name: fade-in;
      animation-duration: 0.25s;
      animation-timing-function: ease-in; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .container.cv section.cv h1 {
      text-align: left;
      margin: 1vh 0; }
      .container.cv section.cv h1.name {
        font-size: 170%; }
    .container.cv section.cv section.header {
      display: flex; }
      .container.cv section.cv section.header .name-details {
        flex-basis: 65%;
        padding-right: 5vw; }
        .container.cv section.cv section.header .name-details h1 {
          animation-name: fade-in;
          animation-duration: 1s;
          animation-timing-function: ease-in; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
        .container.cv section.cv section.header .name-details h3 {
          color: palevioletred;
          margin: 0; }
      .container.cv section.cv section.header .contact-details {
        flex-basis: 35%;
        margin: 3vh 0; }
        .container.cv section.cv section.header .contact-details .image {
          display: flex; }
          .container.cv section.cv section.header .contact-details .image img {
            height: auto;
            width: 7%;
            margin-right: 1vw; }
          .container.cv section.cv section.header .contact-details .image a {
            flex-wrap: wrap; }
        .container.cv section.cv section.header .contact-details > div {
          margin: 2vh 0 0 0;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .container.cv section.cv section.header .contact-details > div:first-of-type {
            margin-top: 3vh; }
          .container.cv section.cv section.header .contact-details > div > span {
            width: 1.5vw;
            height: 3vh;
            margin-right: 1vw;
            text-align: center; }
            .container.cv section.cv section.header .contact-details > div > span img {
              height: auto;
              width: 7%;
              margin-right: 1vw; }
        .container.cv section.cv section.header .contact-details a:link, .container.cv section.cv section.header .contact-details a:visited {
          color: blue;
          text-decoration: none; }
        .container.cv section.cv section.header .contact-details a:hover {
          text-decoration: underline; }
        .container.cv section.cv section.header .contact-details span.download-help {
          margin-left: 1vw;
          padding: 2vh 6vw;
          animation-name: fade-out;
          animation-duration: 2s;
          animation-timing-function: ease-in;
          background: url("../../assets/images/miscellaneous/pleasenote.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    .container.cv section.cv section.work-skills-education {
      display: flex; }
      .container.cv section.cv section.work-skills-education .container.work-experience-cv {
        flex-basis: 65%;
        margin: 0;
        padding-right: 2.5vw;
        border-right: 1px solid lightgrey; }
        .container.cv section.cv section.work-skills-education .container.work-experience-cv h1 {
          padding-bottom: 2vh; }
        .container.cv section.cv section.work-skills-education .container.work-experience-cv .companyOnCV {
          margin: 2vh 0 0 0;
          padding: 0;
          font-size: 110%;
          font-weight: 700; }
        .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates:first-of-type {
            margin: 0; }
          .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates p.role {
            font-weight: 700;
            margin: 0;
            color: #656a6e; }
            .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates p.role.highlightAsCompanyOnCV {
              color: black;
              font-size: 110%; }
          .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates p.dates {
            color: palevioletred;
            font-weight: 500;
            margin: 0 2vw 0 0; }
        .container.cv section.cv section.work-skills-education .container.work-experience-cv p.first-paragraph {
          margin-top: 0; }
      .container.cv section.cv section.work-skills-education .skills-education {
        flex-basis: 35%;
        margin-left: 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container.cv section.cv section.work-skills-education .skills-education .container.skills {
          height: auto; }
          .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv {
            background: none;
            width: 100%;
            margin: 0;
            padding-top: 0; }
            .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv h1 {
              padding-bottom: 2vh; }
            .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv h3 {
              margin-bottom: 0;
              color: #656a6e; }
            .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv p {
              margin-top: 0; }
            .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv .soft-skills {
              margin-top: 6vh; }
              .container.cv section.cv section.work-skills-education .skills-education .container.skills.cv .soft-skills h1 {
                margin-bottom: 0; }
      .container.cv section.cv section.work-skills-education .container.education.cv {
        background: none;
        width: 100%;
        margin: 10vh 0 0 0; }
        .container.cv section.cv section.work-skills-education .container.education.cv h1 {
          padding-bottom: 2vh; }
    .container.cv section.cv section.training .container.training.cv {
      background: none;
      margin: 3vh 0 0 0; }
      .container.cv section.cv section.training .container.training.cv .training-sections {
        display: flex;
        flex-wrap: wrap; }
        .container.cv section.cv section.training .container.training.cv .training-sections > div {
          flex-basis: 22%;
          margin: 0 1vw 1vh 0;
          border-right: 1px solid lightgrey; }
        .container.cv section.cv section.training .container.training.cv .training-sections h3 {
          color: #656a6e; }
    .container.cv section.cv a.download-cv {
      background-color: #f8dada;
      padding: 0.5vh 0.5vw;
      border: 2px solid palevioletred;
      border-radius: 5px; }
      .container.cv section.cv a.download-cv:hover {
        background-color: #daa7a7;
        text-decoration: none; }
    .container.cv section.cv hr {
      height: 5px;
      border: none;
      background-color: palevioletred; }

@media screen and (max-width: 1024px) {
  .container.cv img.full-screen-background-image {
    background: url("../../assets/images/miscellaneous/wall-background-white-bricks-1024.jpg"); } }

@media screen and (max-width: 768px) {
  .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates p.role {
    flex-basis: 70%; }
  .container.cv section.cv section.work-skills-education .container.work-experience-cv .role-and-dates p.dates {
    flex-basis: 30%;
    text-align: right;
    align-self: flex-start; } }

@media screen and (max-width: 640px) {
  .container.cv section.cv .paper {
    width: 90%; }
    .container.cv section.cv .paper section.header {
      flex-direction: column; }
    .container.cv section.cv .paper section.work-skills-education {
      flex-direction: column; }
      .container.cv section.cv .paper section.work-skills-education .container.work-experience-cv .role-and-dates p.role {
        flex-basis: 70%; }
      .container.cv section.cv .paper section.work-skills-education .container.work-experience-cv .role-and-dates p.dates {
        flex-basis: 30%;
        text-align: right;
        align-self: flex-start; }
      .container.cv section.cv .paper section.work-skills-education.skills-education .container.skills {
        height: 100%; }
    .container.cv section.cv .paper section.training .container.training.cv .training-sections > div {
      flex-basis: 100%; } }
