section.sticky-notes {
  margin: 0.5vh 0.5vw 0 0; }
  section.sticky-notes a.nav-link {
    flex-basis: 10%; }
    section.sticky-notes a.nav-link.active-link {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 10px; }
  section.sticky-notes .image {
    flex-basis: 10%;
    margin: 0.25vh 0.25vw; }
    section.sticky-notes .image img {
      height: auto;
      width: 100%; }
    section.sticky-notes .image:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
