@import './sass/variables.scss';
@import './sass/mixins.scss';


$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.outer-container {
    height: 100%;
    background-color: $background-color-main-body;
}

img.full-screen-background-image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.full-screen-background-image {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}