nav.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  nav.header.displayBackground {
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  nav.header .mini-me {
    flex-basis: 20%; }
  nav.header .sticky-notes {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end; }
