@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


nav.header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    @include flex($justify-content: space-between, $align-items: null);

    &.displayBackground {
        background-color: $background-color-header-on-scroll;

        animation-name: fade-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;

        @keyframes fade-in {
            0% { opacity: 0;}
            100% { opacity: 1;}
        }
    }

    .mini-me {
        @include flex-basis(20%);
    }
    
    .sticky-notes {
        @include flex-basis(80%);
        @include flex($justify-content: flex-end, $align-items: null);
    }
}